.mat-mdc-card {
  --accent-clr: hsl(168, 95%, 66%);
  margin-bottom: 2rem;
  box-shadow: 0.5rem 1rem 1rem #494454;

  .mat-mdc-card-header {
    padding: 16px;
    // background-color: rgb(185, 185, 185);
    .header-content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .mat-mdc-card-subtitle {
        align-content: center;
      }
    }
  }
  .mat-mdc-card-content {
    padding: 16px;
    // background-color: var(--accent-clr);
  }
}
