<ng-container *ngIf="profileData">
  <section>
    <div class="profile-details">
      <h2>{{ profileData.firstName }} {{ profileData.lastName }}</h2>
      <p>{{ profileData.phone }}</p>
      <p>{{ profileData.email }}</p>
      <p>{{ profileData.location }}</p>
    </div>
    <h2>{{ 'Experience' }}</h2>
    <hr />
    <ng-container *ngIf="profileData?.experience?.length">
      <mat-card *ngFor="let experience of profileData.experience">
        <mat-card-header>
          <div class="header-content">
            <mat-card-title>
              {{ experience.company }}
              <mat-card-subtitle>{{ experience.role }}</mat-card-subtitle>
            </mat-card-title>
            <mat-card-subtitle
              >{{ experience.startDate }} -
              {{
                experience.currentJob ? 'Present' : experience.endDate
              }}</mat-card-subtitle
            >
          </div>
        </mat-card-header>
        <mat-card-content>
          <div
            *ngFor="let task of experience.responsabilities"
            class="client-duties"
          >
            <h4>Client: {{ task.clientName }}</h4>
            <hr />
            <ul>
              <li *ngFor="let duty of task.duties">
                {{ duty.name }}
              </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </section>
</ng-container>
