.timeline-container {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  margin: 0 auto;

  .timeline-year {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 2rem 0;

    .job-item {
      &::after {
        display: block;
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        left: 49.5%;
        margin-top: -1.2rem;
        background-color: #494454;
        border-radius: 50%;
        content: '';
      }
    }
    .year-name {
      margin-bottom: 1.5rem;
      text-align: center;

      &::after {
        display: block;
        position: absolute;
        left: 50%;
        margin: 0.7rem 0 auto;
        width: 2px;
        height: 5.5rem;
        background-color: #494454;
        content: '';
      }
    }
    .job-summary-card {
      align-items: flex-start;
      width: 40%;
      min-height: 1.5rem;
      padding: 1rem;
      box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #494454;
      border-radius: 0.4rem;
      background-color: #aea8ba;

      .card-title {
        margin: 0;
      }
    }
    &.odd {
      .job-summary-card {
        align-self: flex-end;
        background-color: #007ce9;
      }
    }
  }
}
